//------------------MAIN-------------------
main {
  figure.photo {
    width: 50%-$gutterdbl;
    margin: 0.5rem $gutter;
    float: left;
  }
  div.blog article {
    float: left;
    width: 50%-$gutterdbl;
  }
  div.blog article:nth-child(2n + 1) {
    clear: left;
  }
}
